*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  font-size: 10px;
  --fw-light: 300;
  --fw-normal: 400;
  --fw-semi: 500;
  --fw-bold: 700;
  --fs-h1: 1.5rem;
  --fs-h2: 2.25rem;
  --fs-body: 1rem;
  --fs-xl: 4.5rem;
  --clr-light: #fff;
  --clr-gray: #989898;
  --clr-dark: #444;
  --clr-accent: #D06D6D;
  --clr-accent-dark: #613131;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-image: url(./img/mars.jpg);
  background-size: cover;
  line-height: 1.6;
  margin: 0;
  height: 100vh;
  overflow: hidden;
  color: var(--clr-light);
}

h1, h2, h3 {
  line-height: 1;
}

a {
  color: var(--clr-accent);
}

a:hover {
  color: var(--clr-accent-dark);
}

.page-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100vh;
}

.main-title {
  font-size: var(--fs-h1);
  font-weight: var(--fw-light);
  text-transform: uppercase;
  color: var(--clr-accent);
  letter-spacing: 2px;
  grid-column: 1 / -1;
}

.section-title {
  font-weight: var(--fw-bold);
  font-size: var(--fs-h2);
  margin: 0;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.section-title--date {
  font-size: var(--fs-xl);
}

.mars-current-weather {
  display: -ms-grid;
  display: grid;
  margin: 6rem 4rem 0 4rem;
  min-width: -webkit-min-content;
  min-width: -moz-min-content;
  min-width: min-content;
  max-width: -webkit-min-content;
  max-width: -moz-min-content;
  max-width: min-content;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 4rem;
  -ms-grid-columns: min-content 1px min-content 1px min-content;
      grid-template-columns: -webkit-min-content 1px -webkit-min-content 1px -webkit-min-content;
      grid-template-columns: min-content 1px min-content 1px min-content;
  grid-gap: 3em;
}

.mars-current-weather .divider {
  height: 100%;
  width: 1px;
  background-color: var(--clr-accent-dark);
}

.mars-current-weather .date {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  width: 180px;
}

.mars-current-weather .date__day {
  font-size: var(--fs-h2);
  color: var(--clr-gray);
  margin: 0;
  font-weight: var(--fw-light);
}

.mars-current-weather .divider-one {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
}

.mars-current-weather .temp {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
}

.mars-current-weather .divider-two {
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4 / 5;
}

.mars-current-weather .wind {
  -ms-grid-column: 5;
  -ms-grid-column-span: 1;
  grid-column: 5 / 6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  text-align: center;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
}

.mars-current-weather .wind__direction {
  --size: 6rem;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mars-current-weather .wind__title_and_reading {
  padding-left: 2.0rem;
}

.mars-current-weather .wind__arrow {
  --size: 1rem;
  --direction: 45deg;
  height: calc(var(--size) * 3);
  width: var(--size);
  background-color: var(--clr-accent-dark);
  -webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
          clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  -webkit-transform: translateY(-50%) rotate(var(--direction));
          transform: translateY(-50%) rotate(var(--direction));
  -webkit-transform-origin: bottom center;
          transform-origin: bottom center;
  -webkit-transition: -webkit-transform 350ms ease-in;
  transition: -webkit-transform 350ms ease-in;
  transition: transform 350ms ease-in;
  transition: transform 350ms ease-in, -webkit-transform 350ms ease-in;
}

.mars-current-weather .info {
  grid-column: span 4;
}

.mars-current-weather .info p {
  margin: 0;
}

.mars-current-weather .info p:first-child {
  margin-bottom: 16px;
}

.mars-current-weather .unit {
  -ms-grid-column: 5;
  -ms-grid-column-span: 1;
  grid-column: 5 / 6;
  place-self: end;
  color: var(--clr-light);
  opacity: .7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: opacity 275ms linear;
  transition: opacity 275ms linear;
}

.mars-current-weather .unit:hover {
  opacity: 1;
}

.mars-current-weather .unit input {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.mars-current-weather .unit__toggle {
  cursor: pointer;
  width: 4em;
  border: 2px solid var(--clr-light);
  background: transparent;
  padding: 0;
  border-radius: 100vmax;
  margin: 0 0.5em;
}

.mars-current-weather .unit__toggle::after {
  content: '';
  display: block;
  background-color: var(--clr-light);
  border-radius: 50%;
  height: 1em;
  width: 1em;
  margin: 3px;
  margin-left: auto;
}

.mars-current-weather .unit input[type="radio"]:checked ~ .unit__toggle::after {
  margin-left: 3px;
}

.reading {
  margin: 0;
  font-size: var(--fs-h1);
  color: var(--clr-gray);
}

.previous-weather {
  background-color: var(--clr-light);
  color: var(--clr-gray);
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  justify-self: flex-end;
  width: 100%;
  -webkit-transform: translateY(calc(78% - 3rem));
          transform: translateY(calc(78% - 3rem));
  -webkit-transition: -webkit-transform 350ms ease;
  transition: -webkit-transform 350ms ease;
  transition: transform 350ms ease;
  transition: transform 350ms ease, -webkit-transform 350ms ease;
  padding: 1rem 2rem 2rem 2rem;
}

.previous-weather .main-title-previous-days {
  text-align: center;
}

.previous-weather .show-previous-weather {
  background-color: var(--clr-light);
  position: absolute;
  left: 50%;
  width: 10rem;
  -webkit-transform: translate(-50%, calc(-95% - 1rem));
          transform: translate(-50%, calc(-95% - 1rem));
  text-align: center;
  font-family: inherit;
  font-size: var(--fs-h2);
  color: var(--clr-gray);
  line-height: 1;
  -webkit-clip-path: polygon(50% 0, 0 100%, 100% 100%);
          clip-path: polygon(50% 0, 0 100%, 100% 100%);
  cursor: pointer;
  border: 0;
}

.previous-weather .show-previous-weather .show-previous-weather--arrow {
  -webkit-transform: rotate(0) translateY(-6px);
          transform: rotate(0) translateY(-6px);
  -webkit-transition: -webkit-transform 250ms ease;
  transition: -webkit-transform 250ms ease;
  transition: transform 250ms ease;
  transition: transform 250ms ease, -webkit-transform 250ms ease;
}

.previous-weather .show-previous-weather:hover, .previous-weather .show-previous-weather:focus {
  color: var(--clr-dark);
}

.previous-weather.show-weather {
  -webkit-transform: translatey(0);
          transform: translatey(0);
}

.previous-weather.show-weather .show-previous-weather--arrow {
  display: block;
  -webkit-transform: rotate(180deg) translateY(-6px);
          transform: rotate(180deg) translateY(-6px);
}

.previous-weather.show-weather .main-title-previous-days,
.previous-weather.show-weather .previous-day {
  -webkit-animation: slideUpIn 750ms forwards;
          animation: slideUpIn 750ms forwards;
}

.previous-weather.show-weather .main-title-previous-days {
  text-align: left;
}

.previous-weather.show-weather .previous-day:nth-child(1) {
  -webkit-animation-delay: 100ms;
          animation-delay: 100ms;
}

.previous-weather.show-weather .previous-day:nth-child(2) {
  -webkit-animation-delay: 150ms;
          animation-delay: 150ms;
}

.previous-weather.show-weather .previous-day:nth-child(3) {
  -webkit-animation-delay: 200ms;
          animation-delay: 200ms;
}

.previous-weather.show-weather .previous-day:nth-child(4) {
  -webkit-animation-delay: 250ms;
          animation-delay: 250ms;
}

.previous-weather.show-weather .previous-day:nth-child(5) {
  -webkit-animation-delay: 300ms;
          animation-delay: 300ms;
}

.previous-weather.show-weather .previous-day:nth-child(6) {
  -webkit-animation-delay: 350ms;
          animation-delay: 350ms;
}

.previous-weather.show-weather .previous-day:nth-child(7) {
  -webkit-animation-delay: 400ms;
          animation-delay: 400ms;
}

.previous-weather .previous-days {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: var(--clr-dark);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.previous-weather .previous-days .previous-day {
  opacity: 0;
  -webkit-transition: opacity 350ms linear;
  transition: opacity 350ms linear;
}

.previous-weather .previous-days .previous-day > * {
  margin: 0;
}

.previous-weather .previous-days .previous-day__more-info {
  border: 0;
  border-radius: 100vmax;
  background-color: var(--clr-dark);
  color: var(--clr-light);
  text-transform: uppercase;
  padding: .3em 1em;
  margin-top: 1rem;
  cursor: pointer;
}

.previous-weather .previous-days .previous-day__more-info:hover {
  background-color: var(--clr-gray);
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

@-webkit-keyframes slideUpIn {
  0% {
    opacity: 0;
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes slideUpIn {
  0% {
    opacity: 0;
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
/*# sourceMappingURL=main.css.map */