*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: orange;
}

.section-title {
    color: #fff;
    font-weight: 600;
    font-size: 32px;
}

.mars-current-weather {
    display: grid;
    position: absolute;
    top: 120px;
    left: 100px;
    width: 1200px;
    background-color: rgba(0,0,0,0.6);
    padding: 48px 96px;
    grid-template-columns: repeat(3, 33.3%);
    grid-template-rows: repeat(3, auto-fit);
    grid-row-gap: 30px;

    .main-title {
        grid-column: span 3;
    }

    .date {
        font-size: 22px;
    }

    .temp {
        font-size: 18px;
    }

    .wind {
        font-size: 20px;
        color: #fff;
    }

    .info {
        grid-column: span 2;
        p {
            &:first-child {
                margin-bottom: 16px;
            }
        }
    }

    .unit {
        display: flex;
        justify-content: flex-end;
        grid-column: 3 / 3;
    }

    .section-title {
        &--date {
            font-size: 48px;
        }
    }
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}