*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  font-size: 10px;
  --fw-light: 300;
  --fw-normal: 400;
  --fw-semi: 500;
  --fw-bold: 700;
  --fs-h1: 1.5rem;
  --fs-h2: 2.25rem;
  --fs-body: 1rem;
  --fs-xl: 4.5rem;
  --clr-light: #fff;
  --clr-gray: #989898;
  --clr-accent: #D06D6D;
  --clr-accent-dark: #613131;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-image: url(./img/mars.jpg);
  background-size: cover;
  line-height: 1.6;
  margin: 0;
  height: 100vh;
  overflow: hidden;
  color: var(--clr-light);
}

.section-title {
  font-weight: var(--fw-bold);
  font-size: var(--fs-h2);
  margin: 0;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.section-title--date {
  font-size: var(--fs-xl);
}

h1, h2, h3 {
  line-height: 1;
}

a {
  color: var(--clr-accent);
}

a:hover {
  color: var(--clr-accent-dark);
}

.mars-current-weather {
  display: -ms-grid;
  display: grid;
  margin: 6rem 4rem 0 4rem;
  min-width: -webkit-min-content;
  min-width: -moz-min-content;
  min-width: min-content;
  max-width: -webkit-min-content;
  max-width: -moz-min-content;
  max-width: min-content;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 4rem;
  -ms-grid-columns: min-content 1px min-content 1px min-content;
      grid-template-columns: -webkit-min-content 1px -webkit-min-content 1px -webkit-min-content;
      grid-template-columns: min-content 1px min-content 1px min-content;
  grid-gap: 3em;
}

.mars-current-weather .divider {
  height: 100%;
  width: 1px;
  background-color: var(--clr-accent-dark);
}

.mars-current-weather .main-title {
  font-size: var(--fs-h1);
  font-weight: var(--fw-light);
  text-transform: uppercase;
  color: var(--clr-accent);
  letter-spacing: 2px;
  grid-column: 1 / -1;
}

.mars-current-weather .date {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.mars-current-weather .date__day {
  font-size: var(--fs-h2);
  color: var(--clr-gray);
  margin: 0;
  font-weight: var(--fw-light);
}

.mars-current-weather .divider-one {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
}

.mars-current-weather .temp {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
}

.mars-current-weather .divider-two {
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4 / 5;
}

.mars-current-weather .wind {
  -ms-grid-column: 5;
  -ms-grid-column-span: 1;
  grid-column: 5 / 6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  text-align: center;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
}

.mars-current-weather .wind__direction {
  --size: 6rem;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mars-current-weather .wind__title_and_reading {
  padding-left: 2.0rem;
}

.mars-current-weather .wind__arrow {
  --size: 1rem;
  --direction: 45deg;
  height: calc(var(--size) * 3);
  width: var(--size);
  background-color: var(--clr-accent-dark);
  -webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
          clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  -webkit-transform: translateY(-50%) rotate(var(--direction));
          transform: translateY(-50%) rotate(var(--direction));
  -webkit-transform-origin: bottom center;
          transform-origin: bottom center;
}

.mars-current-weather .info {
  grid-column: span 4;
}

.mars-current-weather .info p {
  margin: 0;
}

.mars-current-weather .info p:first-child {
  margin-bottom: 16px;
}

.mars-current-weather .unit {
  -ms-grid-column: 5;
  -ms-grid-column-span: 1;
  grid-column: 5 / 6;
  place-self: end;
  color: var(--clr-light);
  opacity: .7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: opacity 275ms linear;
  transition: opacity 275ms linear;
}

.mars-current-weather .unit:hover {
  opacity: 1;
}

.mars-current-weather .unit input {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.mars-current-weather .unit__toggle {
  cursor: pointer;
  width: 4em;
  border: 2px solid var(--clr-light);
  background: transparent;
  padding: 0;
  border-radius: 100vmax;
  margin: 0 0.5em;
}

.mars-current-weather .unit__toggle::after {
  content: '';
  display: block;
  background-color: var(--clr-light);
  border-radius: 50%;
  height: 1em;
  width: 1em;
  margin: 3px;
  margin-left: auto;
}

.mars-current-weather .unit input[type="radio"]:checked ~ .unit__toggle::after {
  margin-left: 3px;
}

.reading {
  margin: 0;
  font-size: var(--fs-h1);
  color: var(--clr-gray);
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
/*# sourceMappingURL=main.css.map */